    <div class="container my-5" th:fragment="editForm">
        <h2 class="mb-5" th:text="${title}">Title</h2>
        <div class="row">
            <div class="col-md-6">
                <form action="#" th:action="${formUrl}" th:object="${house}" method="post" enctype="multipart/form-data">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="name" class="col-form-label">Name</label>
                            <input type="text" th:field="*{name}" class="form-control" id="name" placeholder="Name">
                            <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="description" class="col-form-label">Description</label>
                            <input type="text" th:field="*{description}" class="form-control" id="description" placeholder="Description">
                            <span th:if="${#fields.hasErrors('description')}" th:errors="*{name}" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="usageArea" class="col-form-label">Usage area</label>
                            <input type="text" th:field="*{usageArea}" class="form-control" id="usageArea" placeholder="Usage area">
                            <span th:if="${#fields.hasErrors('usageArea')}" th:errors="*{usageArea}" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="buildingArea" class="col-form-label">Building area</label>
                            <input type="text" th:field="*{buildingArea}" class="form-control" id="buildingArea" placeholder="Building area">
                            <span th:if="${#fields.hasErrors('buildingArea')}" th:errors="*{buildingArea}" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="width" class="col-form-label">Width</label>
                            <input type="text" th:field="*{width}" class="form-control" id="width" placeholder="Width">
                            <span th:if="${#fields.hasErrors('width')}" th:errors="*{width}" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="height" class="col-form-label">Height</label>
                            <input type="text" th:field="*{height}" class="form-control" id="height" placeholder="Height">
                            <span th:if="${#fields.hasErrors('height')}" th:errors="*{height}" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="storey" class="col-form-label">Storey amount</label>
                            <select class="form-control" th:field="*{storey}" id="storey">
                                <option value="" ></option>
                                <option th:each="state : ${T(com.example.demo.model.Storey).values()}"
                                        th:value="${state}"
                                        th:text="${state.value}">
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="garage" class="col-form-label">Garage</label>
                            <select class="form-control" th:field="*{garage}" id="garage">
                                <option value="" ></option>
                                <option th:each="state : ${T(com.example.demo.model.Garage).values()}"
                                        th:value="${state}"
                                        th:text="${state.value}">
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="imageFile" class="col-form-label">Image</label>
                            <img class="card-img-top" th:src="@{/getImage/{imageId}(imageId=*{id})}" data-holder-rendered="true" th:if="*{mainImage?.imagePath}!=null">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="imageFile" name="imageFile" lang="pl">
                                <label class="custom-file-label" for="imageFile" data-browse="Browse!">Choose image</label>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 mt-5">
                            <input type="submit" class="btn btn-primary" th:value="${title}">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
