<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/default">
<body>
<div id="page" layout:fragment="content">
    <main role="main">
        <section class="jumbotron text-center" th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
            <div class="container">
                <h1 class="jumbotron-heading">Admin panel</h1>
                <p>
                    <a href="house/add" class="btn btn-primary my-2">Add new house</a>
                </p>
            </div>
        </section>
        <div class="album bg-light">
            <nav class="navbar navbar-expand-sm bg-light navbar-light">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <div class="nav-link">Order by:</div>
                    </li>
                    <li th:each="orderBy : ${T(com.example.demo.model.HouseOrderBy).values()}" class="nav-item">
                        <a class="nav-link" href="#"
                           th:classappend="${orderBy == searchCriteria.orderBy} ? active : ''"
                           th:data1="${orderBy}"
                           th:onclick="onClickOrderByLink(this.getAttribute('data1'))"
                           th:text="${orderBy.value}"></a>
                    </li>
                </ul>
            </nav>
            <script type="text/javascript">
                function onClickOrderByLink(orderByValue) {
                    var searchForm = document.forms["searchForm"];
                    searchForm.elements["orderBy"].value=orderByValue;
                    searchForm.submit();
                }
            </script>
            <div class="container">

                <div class="row">
                    <div th:each="house : ${houses}" class="col-md-4">
                        <div class="card mb-4 box-shadow">
                            <img class="card-img-top" th:src="@{/getImage/{houseId}(houseId=${house.id})}" data-holder-rendered="true">
                            <div class="card-body">
                                <p class="card-text" th:text="${house.name}">Name</p>
                                <p class="card-text" th:text="${house.description}">Description</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group" th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
                                        <button type="button" class="btn btn-sm btn-outline-secondary" th:onclick="|location.href='house/edit/${house.id}'|">Edit</button>
                                        <button type="button" class="btn btn-sm btn-outline-secondary" th:onclick="|location.href='house/delete/${house.id}'|">Delete</button>
                                    </div>
                                    <small class="text-muted">Area: <span th:text="${house.area}"></span> m2</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </main>
</div>
</body>
</html>