<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/default">
<body>
<div id="page" layout:fragment="content">
    <main role="main">
        <section class="jumbotron text-center" th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
            <div class="container">
                <h1 class="jumbotron-heading">Admin panel</h1>
                <p>
                    <a href="house/add" class="btn btn-primary my-2">Add new house</a>
                </p>
            </div>
        </section>
        <div class="album bg-light row">
            <div class="col-md-3 border-right sidebar-panel searchPanel">
                <div class="sidebar-heading">Search Criteria</div>
                <div class="list-group list-group-flush">
                    <form action="#" th:action="@{/search}" th:object="${searchCriteria}" method="post" name="searchForm">
                        <input type="hidden" th:field="*{orderBy}">
                        <div class="col-auto">
                            <input type="text" th:field="*{name}"  class="form-control" placeholder="Search by name">
                        </div>
                        <div class="col-auto">
                            <div class="card">
                                <div class="card-header">Search by usage area [m<sup>2</sup>]:</div>
                                <div class="card-body">
                                    <input type="text" th:field="*{usageAreaFrom}" class="form-control" placeholder="Usage area from">
                                    <input type="text" th:field="*{usageAreaTo}" class="form-control" placeholder="Usage area to">
                                </div>
                            </div>
                        </div>
                        <div class="col-auto">
                            <div class="card">
                                <div class="card-header">Search by building area [m<sup>2</sup>]:</div>
                                <div class="card-body">
                                    <input type="text" th:field="*{buildingAreaFrom}" class="form-control" placeholder="Building area from">
                                    <input type="text" th:field="*{buildingAreaTo}" class="form-control" placeholder="Building area to">
                                </div>
                            </div>
                        </div>
                        <div class="col-auto">
                            <div class="card">
                                <div class="card-header">Minimal dimensions [m]:</div>
                                <div class="card-body">
                                    <input type="text" th:field="*{minWidth}" class="form-control" placeholder="Width" data-toggle="tooltip" title="Width is measured from entrance to possession">
                                    <input type="text" th:field="*{minHeight}" class="form-control" placeholder="Height">
                                </div>
                            </div>
                        </div>
                        <div class="col-auto">
                            <div class="card">
                                <div class="card-header">Storeys amount:</div>
                                <div class="card-body">
                                    <select class="form-control" th:field="*{storey}">
                                        <option value="" ></option>
                                        <option th:each="state : ${T(com.example.demo.model.Storey).values()}"
                                                th:value="${state}"
                                                th:text="${state.value}">
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-auto">
                            <div class="card">
                                <div class="card-header">Garage:</div>
                                <div class="card-body">
                                    <select class="form-control" th:field="*{garage}">
                                        <option value="" ></option>
                                        <option th:each="garage : ${T(com.example.demo.model.Garage).values()}"
                                                th:value="${garage}"
                                                th:text="${garage.value}">
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-auto">
                            <div class="input-group-append btn-group">
                                <button class="btn btn-primary" type="submit">
                                    <i class="fa fa-search"></i>
                                    Search
                                </button>
                                <button class="btn btn-secondary" onclick="onClickClearFilters()" type="button">
                                    <i class="fa fa-trash"></i>
                                    Clear filters
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-9">
                <nav class="navbar navbar-expand-sm bg-light navbar-light">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <div class="nav-link">Order by:</div>
                        </li>
                        <li th:each="orderBy : ${T(com.example.demo.model.HouseOrderBy).values()}" class="nav-item">
                            <a class="nav-link" href="#"
                               th:classappend="${orderBy == searchCriteria.orderBy} ? active : ''"
                               th:data1="${orderBy}"
                               th:onclick="onClickOrderByLink(this.getAttribute('data1'))"
                               th:text="${orderBy.value}"></a>
                        </li>
                    </ul>
                </nav>
                <script type="text/javascript">
                    function onClickOrderByLink(orderByValue) {
                        var searchForm = document.forms["searchForm"];
                        searchForm.elements["orderBy"].value=orderByValue;
                        searchForm.submit();
                    }
                    function onClickClearFilters() {
                        var searchForm = document.forms["searchForm"];
                        var elements = searchForm.elements;

                        for (i in elements) {
                            switch(elements[i].type) {
                                case "text":
                                    elements[i].value = "";
                                    break;
                                case "select-one":
                                    elements[i].selectedIndex = -1;
                                    break;
                            }
                        }
                    }
                </script>
                <div class="container">

                    <div class="row">
                        <div th:each="house : ${houses}" class="col-md-4">
                            <div class="card mb-4 box-shadow">
                                <a th:href="@{/house/get/{id}(id=${house.id})}">
                                    <img class="card-img-top" th:src="@{/getImage/{houseId}(houseId=${house.id})}" data-holder-rendered="true">
                                </a>
                                <div class="card-body">
                                    <p class="card-text" th:text="${house.name}" style="margin-bottom: 0px">Name</p>
                                    <small class="text-muted">Minimal house area:
                                        <div>
                                            <span th:text="${house.buildingArea}"></span> +
                                            <span th:text="${house.garageArea}"></span> +
                                            <span th:text="${house.boilerRoomArea}"></span>
                                            m<sup>2</sup>
                                        </div>
                                    </small>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group" th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
                                            <button type="button" class="btn btn-sm btn-outline-secondary" th:onclick="|location.href='house/edit/${house.id}'|">Edit</button>
                                            <button type="button" class="btn btn-sm btn-outline-secondary" data-toggle="modal" data-target="#confirmDelete" th:data-delete-href="|house/delete/${house.id}|" data-delete-type="house">Delete</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </main>

    <div th:replace="layouts/fragments/modal :: delete-modal"></div>
</div>
</body>
</html>